# Compiled class file
*.class

# Log file
*.log

# Package Files #
cryptozoe/*.jar
cryptozoe/*.war
cryptozoe/*.nar
cryptozoe/*.ear
cryptozoe/*.zip
cryptozoe/*.tar.gz
cryptozoe/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
cryptozoe/.gradle/
cryptozoe/build/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# compiled output
cryptozoe-gui/dist
cryptozoe-gui/tmp
cryptozoe-gui/out-tsc

# dependencies
cryptozoe-gui/node_modules

# misc
cryptozoe-gui/.sass-cache
cryptozoe-gui/npm-debug.log
cryptozoe-gui/yarn-error.log


